service: code-analyzer

provider:
  name: aws
  runtime: nodejs18.x
  timeout: 900
  region: ${self:provider.environment.REGION}
  stage: dev
  environment: ${file(env.yml):${self:provider.stage}}

functions:
  NetCodeAnalysis:
    handler: handler.CodeAnalysis
    memorySize: 128
    events:
      - httpApi:
          path: /analyse
          method: post

  NetCodeOptimisation:
    handler: handler.CodeAnalysis
    memorySize: 128
    events:
      - httpApi:
          path: /optimise
          method: post

  NetCodeComment:
    handler: handler.CodeAnalysis
    memorySize: 128
    events:
      - httpApi:
          path: /comment
          method: post

  VpcDataCollection:
    handler: handler.DataCollection
    memorySize: 128
    vpc:
      securityGroupIds:
        - ${self:provider.environment.SECURITY_GROUP_ID}
      subnetIds:
        - ${self:provider.environment.SUBNET_ID_1}
        - ${self:provider.environment.SUBNET_ID_2}
        - ${self:provider.environment.SUBNET_ID_3}
    events:
      - sns: ${self:provider.environment.DATA_COLLECTOR_SNS}
